<nav id="top">
  <div class="wrap">
    <div class="nav-in">
      <a class="logo" href="index.html"><span class="lg-mk">EZ</span>EZE Funded<sup style="font-size:.5rem;color:var(--dim)">®</sup></a>
      <div class="nv-l">
        <a href="challenge.html" data-nav="challenge">EZE Challenge</a>
        <a href="a-book.html" data-nav="a-book">A-Book</a>
        <a href="rewards.html" data-nav="rewards">Rewards</a>
        <a href="reviews.html" data-nav="reviews">Reviews</a>
        <a href="faq.html" data-nav="faq">FAQ</a>
        <a href="academy.html" data-nav="academy">Academy</a>
        <a href="about.html" data-nav="about">About</a>
      </div>
      <div class="nv-r">
        <span class="nv-lang"><svg class="i s14"><use href="#i-globe"/></svg> EN</span>
        <a href="challenge.html#pricing" class="btn btn-o btn-sm">Log In</a>
        <a href="challenge.html#pricing" class="btn btn-b btn-sm">Get Started</a>
      </div>
      <button class="burger" id="burger" aria-label="Menu" aria-expanded="false"><span></span></button>
    </div>
    <div class="mmenu" id="mmenu">
      <a href="challenge.html" data-nav="challenge">EZE Challenge</a>
      <a href="a-book.html" data-nav="a-book">A-Book Technology</a>
      <a href="rewards.html" data-nav="rewards">Rewards</a>
        <a href="reviews.html" data-nav="reviews">Reviews</a>
      <a href="academy.html" data-nav="academy">Academy</a>
      <a href="about.html" data-nav="about">About</a>
      <a href="faq.html" data-nav="faq">FAQ</a>
      <a href="challenge.html#pricing" class="btn btn-b" style="margin-top:14px">Get Started</a>
    </div>
  </div>
</nav>